.header{
}
.main{
  background-color:#add8e6;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 100vw;
}
.logo{
  height: 70px;
  width: auto;
  margin-left: 20px;
  text-decoration: none;
}
.show-user{
}