<%= render "shared/header"%>
  <div class = "book-list">
    <% if user_session %>
      <%= link_to "本を登録する", new_book_path%>
        <% @books.each do |book| %>
          <div class = "book">
            <% if book.user_id == current_user.id %>
              <%= book.name%>
            <% end %>
          </div>
        <% end %>
    <% end %>
  </div>